#main {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  font-family: "Oswald", sans-serif;
  font-size: 6pt;
  cursor: pointer;
}

.article {
  display: grid;
  width: 100%;
  border: 1px solid blue;
  grid-template-columns: 100px auto;
}

.sectiontitle {
  width: 100px;
  /* border: 1px solid blue; */
}

.section {
  /* border: 1px solid blue; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
